
  body{ 
   /* font-family: soberana !important; */
  }


	.separador{ 
      border-style: solid; !important;
      border-color: #FFF !important;
      border-top-style: none !important;
      border-bottom-style: none !important;
      border-right: 5px !important;
    }

    .fondo1 {
    /* background: url('../img/fondo.png') no-repeat center center fixed; */
    background-image: linear-gradient(to bottom, rgba(8,37,115,1.0), white);
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

    .enlace1{
      color: #FFF;
     /* font-family: soberana !important; */
      
    }

    .enlace1:hover{
      opacity: 0.70;
      filter: alpha(opacity=70);
      color: #FFF;
      cursor: pointer;
      text-decoration: none;
    }

    .enlace:hover{
      opacity: 0.70;
      filter: alpha(opacity=70);
      cursor: pointer;
     /* font-family: soberana !important; */
    }

    .enlace2:hover{
      background-color: #464584;
      opacity: 0.05;
      filter: alpha(opacity=5);
      cursor: pointer;
    }

    .tooltip-inner {
      background-color: #52545c;
      text-align: justify;
      font-family: soberana !important; 
    }

    .guiaf1{
    	background-color: #03193f; 
    	color: #FFF;
      font-family: HelveticaNeue !important; 
    }

    .guiaf2{
    	background-color: #062666;
    	color: #FFF;
      font-family: HelveticaNeue !important; 
    }

    .wrapper {
        position: relative;
        overflow: hidden; 
        width: 155px;
        height: 139px;
        font-family: soberana !important; 
    }

    #slide {
        position: absolute;
        left: -113px;
        width: 155px;
        height: 139px;
        transition: 1s;
    }

    .wrapper:hover #slide {
        transition: 1s;
        left: 0;
    }



/*
	.tooltip.bs-tooltip-right .arrow:before {
    	border-right-color: #52545c !important;
	}
	
	.tooltip.bs-tooltip-left .arrow:before {
    	border-right-color: #00cc00 !important;
	}
	.tooltip.bs-tooltip-bottom .arrow:before {
    	border-right-color: #00cc00 !important;
	}
	.tooltip.bs-tooltip-top .arrow:before {
    	border-right-color: #00cc00 !important;
    }*/
	

